.card-list {
    padding: 80px 0 80px;
    margin: 0 70px;
    border-top: 1px solid #424242;
}

.movies-card-list {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 24px;
    row-gap: 30px;
}

