.navigation {
  display: flex;

width: 90%;
  justify-content: space-between;
  align-items: center;
}

.link_nav {
  margin: 0 16px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
}

.menu {
 display: flex;
 justify-content: center;
 margin: 0 auto;
}

.link-for-burger {
  display: none;
}

.link_account {
  align-items: center;
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__icon {
  width: 26px;
  height: 30px;
  border-radius: 4px;
  background-color: #313131;
  background-image: url(../../images/accountIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.link-active {
    font-weight: 500;
}

.menu__toggle {
  display: none;
  position: absolute;
}


@media all and (max-width:768px) {
  
  .navigation {
    position: fixed;
    max-width: calc(520px - 180px);
    height: calc(100% - 159px - 92px);
    top: 0;
    right: 0px;
    padding: 159px 90px 92px;
    background-color: #202020;
    visibility: hidden;
    z-index: 1;
  }

  .link-for-burger_opened {
    display: table;
    visibility: visible;
    margin: 0 auto;
  }

  .menu {
    display: block;
  }

  .link_nav{
    display: table;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 28px;

  }

.link_account {
margin: 621px auto 0;
text-align: center;
}

  .link-active {
   border-bottom: 2px solid white;
  }

  .menu__toggle {
    opacity: 0;
    display: block;
    /* position:absolute; */
    z-index: 2;
    top: 15px;
    right: 35px;

    }

    .menu__burger {
    display: flex; 
    align-items: center;  
    position: absolute; 
    top: 26px;
    right: 30px;
background-color: rgba(0, 0, 0, 0);
border-radius: 0;
    width: 28px;
    height: 23px;
    cursor: pointer;
    z-index: 2;
    background-image: url(../../images/burgerIcon.svg);
    object-fit: contain;
    background-position: center;
    }

    .menu__burger_active {
      background-image: url(../../images/burgerIconOpened.svg);
    }
  
    /* добавляем "гамбургер" */
    /* .menu__btn > .burger__line,
    .menu__btn > .burger__line::before,
    .menu__btn > .burger__line::after {
      display: block;
      position: absolute;
      width: 28px;
      height: 3px;
      background-color: white;

    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }

    .menu__toggle:checked ~ .menu__btn >  .burger__line {
      transform: rotate(45deg);
    }
    .menu__toggle:checked ~ .menu__btn >  .burger__line::before {
      top: 0;
      transform: rotate(0);
    }
    .menu__toggle:checked ~ .menu__btn >  .burger__line::after {
      top: 0;
      transform: rotate(90deg);
    } */
    /* .menu__toggle:checked ~ .navigation {
      visibility: visible;
    }*/
} 