.navigation {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.link_nav {
  margin: 0 16px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.link-for-burger {
  display: none;
}

.link_account {
  align-items: center;
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__icon {
  width: 26px;
  height: 30px;
  border-radius: 4px;
  background-color: #313131;
  background-image: url(../../images/accountIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.link-active {
  font-weight: 500;
}

.menu__toggle {
  display: none;
  position: absolute;
}

@media all and (max-width:768px) {
  
  .navigation {
    position: absolute;
    width: 44.28%;
    height: calc(100% - 159px - 159px);
    top: 0;
    right: 0px;
    padding: 159px 90px;
    background-color: #202020;
    visibility: hidden;
    z-index: 1;
  }

  .link-for-burger_opened {
    display: block;
    visibility: visible;
    margin: 0 auto;
  }

  .menu {
    display: block;
    margin: 0 calc(100%-200px);
  }

  .link_nav {
    display: table;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 24px;
    padding-bottom: 4px;
    text-align: center;

  }

  .link_account {
    margin: 621px auto 0;
    text-align: center;
  }

  .link-active {
    border-bottom: 2px solid white;
  }

  .menu__toggle {
    opacity: 0;
    display: block;
    z-index: 2;
    top: 15px;
    right: 35px;
  }

  .menu__burger {
    display: flex; 
    align-items: center;  
    position: absolute; 
    top: 26px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    width: 28px;
    height: 23px;
    cursor: pointer;
    z-index: 2;
    background-image: url(../../images/burgerIcon.svg);
    object-fit: contain;
    background-position: center;
  }

  .menu__burger_active {
    background-image: url(../../images/burgerIconOpened.svg);
  }

/* добавляем "гамбургер" */
/* .menu__btn > .burger__line,
.menu__btn > .burger__line::before,
.menu__btn > .burger__line::after {
  display: block;
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: white;

}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__toggle:checked ~ .menu__btn >  .burger__line {
  transform: rotate(45deg);
}
.menu__toggle:checked ~ .menu__btn >  .burger__line::before {
  top: 0;
  transform: rotate(0);
}
.menu__toggle:checked ~ .menu__btn >  .burger__line::after {
  top: 0;
  transform: rotate(90deg);
} */
/* .menu__toggle:checked ~ .navigation {
  visibility: visible;
}*/
} 


@media all and (max-width:320px) {
  .navigation {
    width: 100%;
    padding: 144px 0 0;
  }

  .link_nav {
    margin: 0 auto 20px;
  }

  .menu__burger {
    width: 22px;
    height: 22px;
    right: 23px;
    top: 27px;
  }
  
  .link_account {
    margin: 444px auto 0;
  }
}