.project {
    padding: 110px 70px;

}

.project__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.project__contaner {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #DADADA;
    padding: 70px 0 110px;
}

.text-contaner {
    width: 550px;
}

.project__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.project__paragraph {
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
}

.schema {
    display: grid;
    min-height: 72px;
    grid-template-areas:
    'back-time front-time front-time front-time front-time'
    'front-info back-info back-info back-info back-info';
    justify-items: center;
}

.schema__front-time {
    margin: 0;
    padding: 9.5px 0;
   width: 100%;
    background-color: #303030;;
    grid-area: front-time;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

}
.schema__back-time {
    padding: 9.5px 0;
    margin: 0;
    width: 100%;

    background-color: #3DDC84;
    grid-area: back-time;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
.schema__front-info {
    margin: 0;
    padding: 9.5px 0;
    grid-area: front-info;
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;

    text-align: center;
    color: #8B8B8B;
}
.schema__back-info {
    margin: 0;
    padding: 9.5px 0;
    grid-area: back-info;
    font-weight: 500;
    font-size: 14px;
    line-height: 121%;

    text-align: center;
    color: #8B8B8B;
}