.technologies {
	background-color: #272727;
	padding: 100px 70px 100px 70px;
}


.technologies__contaner {
	margin: 0 auto 100px;
	max-width: 460px;
	text-align: center;
}
.technologies__subtitle {
	margin: 90px 0 26px;
	font-weight: 400;
	font-size: 50px;
	line-height: 116%;
	letter-spacing: -0.04em;
	text-align: center;
}

.techs-contaner {
	display: flex;
	justify-content: center;
}

.technologies-block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 60px;
	background-color: #303030;
	border-radius: 10px;
	margin-right: 10px;

}

.technologies-block:last-child {
	margin-right: 0px;
}

.technologies__paragraph {
	margin: 5px;
	color: #FFFFFF;
	opacity: 1;
}

.paragraph_technologies {
	font-weight: 400;
	font-size: 14px;
	line-height:143%;
	text-align: center;
	letter-spacing: -0.04em;
	margin: 0;
}

@media all and (max-width:768px) {
	.technologies {
		padding: 90px 50px;
	}

	.technologies__contaner {
	margin: 0 auto 83px;
	}

	.technologies__subtitle {
		margin: 80px 0 22px;
	}

	.paragraph_technologies {
		font-size: 12px;
		line-height: 150%;
	}

	.technologies-block {
		width: 84px;
		height: 57px;
	}
	
	.technologies__paragraph {
		font-size: 12px;
		line-height: 15px;
	}
}


@media all and (max-width:320px) {
	.technologies {
		padding: 70px 18px;
		background-color: #202020;
	}
	.technologies__subtitle {
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		margin: 60px 0 24px;
	}
	.paragraph_technologies {
		font-size: 11px;
		line-height: 145%;
	}
	.technologies__contaner {
		margin-bottom: 50px;
	}
	.techs-contaner {
		display: grid;
		gap: 10px;
		width: 178px;
		grid-template-columns: 1fr 1fr;
		margin: 0 auto;
	}
}