.about-me {
    padding: 110px 70px 0;
}

.about-me-contaner {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}

.about-me__subtitle {
margin: 0;
    font-weight: 400;
font-size: 50px;
line-height: 116%;

}

.about-me__info {
    margin: 18px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
}

.about-me__paragraph {
    margin: 26px 0 0;
    width: 600px;
font-weight: 400;
font-size: 14px;
line-height: 157%;


}

.about-me__photo {
    max-width: 270px;
    max-height: 327px;
    border-radius: 10px;
    object-fit: contain;
}
