.footer {
  padding: 79px 70px 20px;
}

.link_footer {
  margin: 20px 0 0 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__paragraph {
  margin: 0 0 20px;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.copyright {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.author {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}


.footer__info {
  border-top: 1px solid #424242;
  max-width: 1140px;
  display:  flex;
  justify-content: space-between;
}

.footer__author {
  display:  flex;
  justify-content: space-between;
}

@media all and (max-width:768px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media all and (max-width:320px) {
  .footer {
    padding: 79px 10px 20px;
  } 

  .footer__paragraph {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 21px;
  }

  .footer__info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .copyright {
    margin: 30px auto 0;
    font-size: 12px;
    line-height: 15px;
    color: #8B8B8B;
  }

  .footer__author {
    grid-row: 1;
    display: block;
    margin: 0 auto;
  }

  .author { 
    margin: 30px 0 12px;
    font-size: 12px;
    line-height: 15px;
  }

  .link_footer {
    margin: 0 30px;
    font-size: 12px;
    line-height: 15px;
  }
}